body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#bannerContainer {
  position: relative;
  width: 150%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.banner-slide {
  display: none;
}

img {
  width: 150%;
  height: auto;
}

.banner-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.banner-btn:focus {
  outline: none;
}
